################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MEF/.vs/MEF
/.vs/MyRepos/v16
/MEF/bin/Debug
/MEF/Cpu.Arnie/bin/Debug
/MEF/Cpu.Arnie/obj/Debug
/MEF/Cpu.Generic/obj/Debug
/MEF/MEF/bin/Debug
/MEF/MEF/obj/Debug
/MEF/SandBox
/OneMachine
/UniversalMachine
/MEF/bin/Release
/MEF/Cpu.Arnie/obj/Release
/MEF/Cpu.Generic/obj/Release
/MEF/Cpu.Sample/bin/Debug
/MEF/Cpu.Sample/obj
/MEF/MEF/obj/Release
/MEF/Cpu.Terminal/obj/Debug
/MEF/Cpu.OS
